appnope==0.1.3
asttokens==2.4.0
backcall==0.2.0
certifi==2024.7.4
charset-normalizer==3.3.0
decorator==5.1.1
distlib==0.3.7
docstring-to-markdown==0.12
executing==2.0.0
filelock==3.12.4
flake8==6.1.0
idna==3.7
ipython==8.16.1
jedi==0.19.1
matplotlib-inline==0.1.6
mccabe==0.7.0
parso==0.8.3
pbr==5.11.1
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.11.0
pluggy==1.3.0
prompt-toolkit==3.0.39
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.11.0
pyflakes==3.1.0
Pygments==2.16.1
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.8.0
requests==2.32.0
setuptools==70.0.0
six==1.16.0
stack-data==0.6.3
stevedore==5.1.0
traitlets==5.11.2
ujson==5.8.0
urllib3==2.2.2
virtualenv==20.26.6
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wcwidth==0.2.8
